.footer-div {
    background-color: rgb(62, 62, 62);
    font-size: 18px;
    border-bottom: 2px solid grey;
}

.footer-div li {
    list-style: none;
}

.column {
    float: left;
}

.footer-div::after {
    content: ' ';
    display: block;
    clear: both;
}

.footer-div-first {
    width: 300px;
    margin: 30px;
    margin-left: 50px;
}

.footer-div-first h5 {
    font-size: 20px;
}

.footer-div-first h5, .footer-div-first p {
    color: white;
}

.footer-div-first a {
    color: blueviolet;
    text-decoration: none;
}

.footer-div-first a:hover {
    text-decoration: underline;
}

.services h5, .services a {
    color: white;
}

.services a {
    padding: 3px 5px;
    text-decoration: none;
}

.services a:hover {
    text-decoration: underline;
}

.links h5, .links a {
    color: white;
}

.links a {
    padding: 3px 5px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.newsletter h5, .newsletter p {
    color: white;
}

.services {
    width: 200px;
    margin-left: 95px;
}

.services h5 {
    margin-left: 43px;
    font-size: 20px;
    margin-top: 30px;
}

.services li {
     margin-top: 10px; 
}

.links {
    width: 200px;
    margin-left: 60px;
}

.links h5 {
    margin-left: 43px;
    font-size: 20px;
    margin-top: 30px;
}

.links li {
    margin-top: 10px;
}

.newsletter {
    width: 300px;
    margin-left: 30px;
}

.newsletter h5 {
    margin-left: 40px;
    font-size: 20px;
    margin-top: 30px;
}

.newsletter p {
    margin-left: 40px;
    margin-top: 0;
    padding-top: 8px;
}

.newsletter-form {
    margin: 0;
    text-align: right;
    padding-right: 70px;
}

.submit-button {
    margin-top: 2px;
    padding: 5px 5px;
    font-size: 16px;
    border: 0 none;
}

.submit-button:hover {
    background-color: darkkhaki;
}

.newsletter-form input {
    background-color: rgb(62, 62, 62);
    border: 1px solid grey;
    color: white;
    padding: 5px;
}

small p {
    text-align: center;
    margin: 0;
    background-color: rgb(62, 62, 62);
    padding: 30px 0px;
    color: white;
    font-size: 15px;
}

footer {
    border-bottom: 1px solid black;
}
